<!--
---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header class="site-header">

  <div class="header-container">

    <h1>
      <a href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
    </h1>

    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="https://github.com/shaikhabuzer0">GitHub</a>
    </nav>

  </div>

</header>


<main class="content">

{{ content }}

</main>


<footer class="footer">

<p>© {{ site.time | date: "%Y" }} Abuzar</p>

</footer>

</body>

</html>
